.ImageBar_wrap { width: 312px; height: calc(100vh - 64px); max-height: 920px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); position: relative; overflow: hidden; transition: width 0.3s; border-radius: 0 20px 0 0; }

.ImageBar_box { width: 312px; height: 100%; z-index: 1; position: relative; opacity: 1; transition: opacity 0.3s; }
.ImageBar_head { display: flex; justify-content: space-between; align-items: center; padding: 40px 18px 0; height: 100px; background-color: #dbdbdb; }
.ImageBar_head i { color: #000; font-size: 30px; }
.ImageBar_head p { font-size: 24px; font-weight: 600; color: #000; }
.content_wrap { width: 100%; height: calc(100% - 100px); padding: 27px 18px 18px; overflow: auto; background-color: rgba(128, 128, 128, 0.6); }





.close_bar { width: 30px; height: 100%; position: absolute; right: 0; top: 0; z-index: 0; opacity: 0; transition: all 0.3s; }
.close_bar_head { width: 100%; height: 100px; background-color: #dbdbdb; display: flex; justify-content: center; padding-top: 56px; }
.close_bar_head i { font-size: 22px; color: #000; }

.close_bar_body { width: 100%; height: calc(100% - 100px); background-color: rgba(128, 128, 128, 0.6); position: relative; }
.close_bar_body p { color: #fff; position: absolute; writing-mode: vertical-rl; text-orientation: mixed; width: max-content; transform: rotate(0.5turn) translateX(50%); left: 50%; top: 100px; }
.close_bar_body button { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.close_bar_body button i { font-size: 28px; color: #fff; }






.ImageBar_wrap.close { width: 30px; }
.ImageBar_wrap.close .ImageBar_box { opacity: 0; }
.ImageBar_wrap.close .close_bar { z-index: 2; opacity: 1; }





